<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf validations</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
    <p>Please fill your information</p>
    <form th:action="@{/processForm}" th:object="${customer}" method="post">
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></p>
        <label>
            First Name:
            <input type="text" th:field="*{firstName}">
        </label>
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></p>
        <label>
            LastName:
            <input type="text" th:field="*{lastName}">
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>